* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  border-radius: 20px;
  text-transform: capitalize;
  box-shadow: -20px -20px 60px #cd0f67, 20px 20px 60px #171fff;
  align-items: center;
  font-family: sans-serif;
  padding: 50px;
  gap: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-inline: auto;
  width: 40vw;
  height: 60vh;
}

.App input {
  background: none;
  outline: none;
  border: 2px solid #3a3b3c;

  font-size: 18px;

  transition: all 0.3s ease;
  cursor: pointer;
  padding: 10px;
}
.App input::placeholder {
  color: #242424;
}
.buttons {
  gap: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  color: aliceblue;
  font-size: 18px;
  border: none;
  outline: none;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #242424;
  padding: 10px;
  padding-inline: 15px;
}
